<%
  const LOCAL_PAGE = Object.freeze({
    title: LOCAL_STRINGS.photo_profile,
    description: {
      en: '',
      es: ''
    },
    keywords: {
      en: '',
      es: ''
    },
    robots: 'index, follow',
    canonical: '',
    og_url: '',
    og_site_name: {
      en: '',
      es: ''
    },
    og_image: '',
    twitter_card: {
      en: '',
      es: ''
    },
    stylesheets: [
      "/profile/res/src/plugins/src/filepond/filepond.min.css",
      "/profile/res/src/plugins/src/filepond/FilePondPluginImagePreview.min.css",
      "/profile/res/src/plugins/css/light/filepond/custom-filepond.css",
      "/profile/res/src/plugins/css/dark/filepond/custom-filepond.css"
    ]
  })
%>
<%- include('./header-page-logged.ejs', {
  LOCAL_PAGE
}) -%>
<!--  BEGIN *** CONTENT ***  -->
<form id="frmMain" enctype="multipart/form-data">
  <input id="hid_info_1" name="hid_info_1" type="hidden" value="<%=LOCAL_STRINGS.upload_info_1[language]%>" runat="server" />
  <input id="hid_info_2" name="hid_info_2" type="hidden" value="<%=LOCAL_STRINGS.upload_info_2[language]%>" runat="server" />
  <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
          <div class="row">
              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                  <h4><%=LOCAL_STRINGS.photo_profile[language]%></h4>
              </div>
          </div>
      </div>
      <div class="widget-content widget-content-area">
        <div class="row mb-3">
          <label for="imgPhoto" class="col-sm-2 col-form-label"><%=LOCAL_STRINGS.photo[language]%>:</label>
            <div class="col-md-2">
              <div class="profile-image">
                <div class="img-uploader-content">
                  <input id="imgPhoto" name="imgPhoto" type="file" class="filepond" accept="image/png, image/jpeg, image/gif"/>
                  <div id="msgPhoto"></div>
                </div>
              </div>
            </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">&nbsp;</label>
          <div class="col-sm-10">
            <button id="btnUpdate" type="button" name="btnUpdate" class="btn btn-success mb-2 me-4">
              <span>
                <i id="icoUpdate" name="icoUpdate" class="fa fa-spinner fa-spin d-none"></i> <%=LOCAL_STRINGS.update[language]%>
              </span>
            </button>
            <button id="btnCancel" name="btnCancel" type="button" class="btn btn-warning mb-2 me-4">
              <i id="icoCancel" class="fa fa-spinner fa-spin d-none"></i> <%=LOCAL_STRINGS.cancel[language]%>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!--  END *** CONTENT ***  -->
<%- include('./footer-page-logged.ejs'); -%>
<!--  BEGIN *** SCRIPTS ***  -->
<script src="/profile/res/src/assets/js/scrollspyNav.js"></script>
<script src="/profile/res/src/plugins/src/filepond/filepond.min.js"></script>
<script src="/profile/res/src/plugins/src/filepond/FilePondPluginFileValidateType.min.js"></script>
<script src="/profile/res/src/plugins/src/filepond/FilePondPluginImageExifOrientation.min.js"></script>
<script src="/profile/res/src/plugins/src/filepond/FilePondPluginImagePreview.min.js"></script>
<script src="/profile/res/src/plugins/src/filepond/FilePondPluginImageCrop.min.js"></script>
<script src="/profile/res/src/plugins/src/filepond/FilePondPluginImageResize.min.js"></script>
<script src="/profile/res/src/plugins/src/filepond/FilePondPluginImageTransform.min.js"></script>
<script src="/profile/res/src/plugins/src/filepond/filepondPluginFileValidateSize.min.js"></script>
<script>
  /**
  * ==================
  * Single File Upload
  * ==================
  */
  FilePond.registerPlugin(
    FilePondPluginFileValidateType,
    FilePondPluginImageExifOrientation,
    FilePondPluginImagePreview,
    FilePondPluginImageCrop,
    FilePondPluginImageResize,
    FilePondPluginImageTransform,
  //   FilePondPluginImageEdit
  );
  let info_1 = hid_info_1.value;
  let info_2 = hid_info_2.value;
  var imgPhotoPond = FilePond.create(
    document.querySelector('#imgPhoto'),
    {
      labelIdle: `<span class="no-image-placeholder">
                    <i class="fa fa-upload"></i>
                  </span>
                  <p class="drag-para">
                    ${info_1} <span class="filepond--label-action" tabindex="0">${info_2}</span>
                  </p>`,
      imagePreviewHeight: 170,
      imageCropAspectRatio: '1:1',
      imageResizeTargetWidth: 200,
      imageResizeTargetHeight: 200,
      stylePanelLayout: 'compact circle',
      styleLoadIndicatorPosition: 'center bottom',
      styleProgressIndicatorPosition: 'right bottom',
      styleButtonRemoveItemPosition: 'left bottom',
      styleButtonProcessItemPosition: 'right bottom',
      files: [
        {
          source: '/profile/res/src/assets/img/users/<%=req.session.active_user.photo%>',
          options: {
              type: 'image/png',
          },
        },
      ],
      storeAsFile: true
    }
  );
</script>
<script>
  const imgPhoto = new SLFile('imgPhoto', {
      messages: {
      msgDiv: 'msgPhoto',
      show: showMsg,
      hide: hideMsg
    },
    required: '<%=LOCAL_STRINGS.required_profile_image[language]%>'
  });
  const aoElements = [imgPhoto];
  const frmMain = document.getElementById('frmMain')
  const icoUpdate = document.getElementById('icoUpdate')
  const btnUpdate = new SLButton('btnUpdate', {
  })
  btnUpdate.element.addEventListener('click', async () => {
    try {
      imgPhoto.element.files = imgPhotoPond.getFile()?.filename ?? []
      var bValid = await SLAreValidElements(aoElements)
      if (bValid) {
        icoUpdate.classList.remove('d-none')
        var oFormData = new FormData(frmMain)
        const oFetch = await fetch('/profile/admin/profile-photo', {
            method: 'POST',
            body: oFormData
        })
        let oValue = await oFetch.json();
        if (oValue.message.code == 'completed_operation') {
          Swal.fire({
            title: '<%=LOCAL_STRINGS.successful_registration[language]%>',
            text: '',
            icon: 'success',
            confirmButtonText: '<%=LOCAL_STRINGS.ok[language]%>',
            width: 'auto',
            allowOutsideClick: false,
            allowEscapeKey: false
          }).then((bAction) => {
            window.location.replace('/profile/admin/profile-photo');
            return;
          });
        } else {
          Swal.fire({
            title: oValue.message['<%=language%>'],
            text: '',
            icon: 'error',
            confirmButtonText: '<%=LOCAL_STRINGS.ok[language]%>',
            width: 'auto',
            allowOutsideClick: false,
            allowEscapeKey: false
          }).then((bAction) => {
            icoUpdate.classList.add('d-none');
            return;
          });
        }
      }
    } catch(err) {
      console.error(err);
    }
  })
</script>
<!--  END *** SCRIPTS ***  -->
</body>
</html>