<%
  const LOCAL_PAGE = Object.freeze({
    description: {
      en: '',
      es: ''
    },
    keywords: {
      en: '',
      es: ''
    },
    robots: 'index, follow',
    canonical: '',
    og_url: '',
    og_site_name: {
      en: '',
      es: ''
    },
    og_image: '',
    twitter_card: {
      en: '',
      es: ''
    },
    stylesheets: [
      "/ministry/res/src/plugins/src/table/datatable/datatables.css",
      "/ministry/res/src/plugins/css/light/table/datatable/dt-global_style.css",
      "/ministry/res/src/plugins/css/dark/table/datatable/dt-global_style.css",
      "/ministry/res/src/assets/css/extras.css"
    ]
  })
%>

<%- include('./header-page-logged.ejs', {
  LOCAL_PAGE
}) -%>
<!--  BEGIN *** CONTENT ***  -->
  <div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 layout-spacing">
      <div class="main-container">
        <div class="dashboard-row">
          <div class="balance-card">
            <div class="card-content p-3">
              <div class="info-box">
                <div class="icon">
                  <span>
                    <img src="/ministry/res/src/assets/img/money-bag.png" alt="money-bag">
                  </span>
                </div>
                <div class="balance-info">
                  <h6><%=LOCAL_STRINGS.show_message_warning[language]%></h6>
                  <p><%=process%><%=code%></p>
                </div>
              </div>
              <div class="card-bottom-section">
                <div><span class="badge badge-light-success">+ 13.6% <i data-feather="trending-up"></i></span></div>
                <a href="javascript:void(0);" class="report-link">View Report</a>
              </div>
            </div>
          </div>
          <div class="search-container">
            <div class="search-wrapper">
              <input type="text" class="form-control search-input" placeholder="Search Attendees...">
              <button class="btn search-btn">
                <i data-feather="search"></i>
              </button>
            </div>
          </div>
          <div class="navigation-buttons">
            <div class="btn-group" role="group" aria-label="Navigation options">
              <button type="button" class="nav-btn active">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                <span class="btn-text-inner">Button</span>
              </button>
              <button type="button" class="nav-btn">Middle</button>
              <button type="button" class="nav-btn">Right</button>
            </div>
          </div>
          <div class="task-action">
            <div class="dropdown d-inline-block">
              <a class="dropdown-toggle" href="#" role="button" id="elementDrodpown3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
              </a>
              <div class="dropdown-menu right" aria-labelledby="elementDrodpown2" style="will-change: transform; position: absolute; transform: translate3d(-141px, 19px, 0px); top: 0px; left: 0px;">
                <a class="dropdown-item" href="/ministry/admin/administrations-inventories-new">
                  <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                    <span class="icon-name"><%=LOCAL_STRINGS.add[language]%></span>
                  </div>
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-security"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                    <span class="icon-name"><%=LOCAL_STRINGS.security[language]%></span>
                  </div>
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share"><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><polyline points="16 6 12 2 8 6"></polyline><line x1="12" y1="2" x2="12" y2="15"></line></svg>
                    <span class="icon-name"> <%=LOCAL_STRINGS.share[language]%></span>
                  </div>
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>
                    <span class="icon-name"><%=LOCAL_STRINGS.print[language]%></span>
                  </div>
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                    <span class="icon-name"><%=LOCAL_STRINGS.download[language]%></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="statbox widget box box-shadow">
            <div class="widget-header">
              <div class="row">
                <div class="widget widget-five">
                  <div id="ecommerce-list_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    
                    <div class="table-responsive">
                      <table id="ecommerce-list"  class="table dt-table-hover dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="ecommerce-list_info">
                        <thead>
                            <tr>
                                <th class="checkbox-column"><%=LOCAL_STRINGS.show_message_object[language]%></th>
                                <th class="checkbox-column"><%=LOCAL_STRINGS.show_message_process[language]%></th>
                                <th class="checkbox-column"><%=LOCAL_STRINGS.show_message_event[language]%></th>
                                <th class="checkbox-column"><%=LOCAL_STRINGS.show_message_action[language]%></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (object === 'accounting_accounts' && process === 'list' && code === 'record_not_found')
                            {%>
                              <tr>
                                <td><%=object%></td>
                                <td><%=process%></td>
                                <td><%=code%></td>
                                <td>Ir al modulo y crearlas</td>
                              </tr>
                            <%}
                            else if (object === 'addresses' && process === 'list' && code === 'record_not_found')
                            {%>
                              <tr>
                                <td><%=object%></td>
                                <td><%=process%></td>
                                <td><%=code%></td>
                                <td>Ir al modulo y crearlas</td>
                              </tr>
                            <%}
                            else if (object === 'ministry' && process === 'list' && code === 'record_not_found')
                            {%>
                              <tr>
                                <td><%=object%></td>
                                <td><%=process%></td>
                                <td><%=code%></td>
                                <td>Ir al modulo y crearlas</td>
                              </tr>
                            <%}
                            else if (object === '' && process === '' && code === '')
                            {%>
                              <tr>
                                <td>N/D</td>
                                <td>N/D</td>
                                <td>N/D</td>
                                <td>N/D</td>
                              </tr>
                            <%}%>
                        </tbody>
                      </table>
                    </div>
                    <div class="dt--bottom-section d-sm-flex justify-content-sm-between text-center">
                      <div class="dt--pages-count  mb-sm-0 mb-3">
                        <div class="dataTables_info" id="ecommerce-list_info" role="status" aria-live="polite">
                          <a href="" onclick="history.back()"><%=LOCAL_STRINGS.show_message_previous_page[language]%></a>
                        </div>
                      </div>
                      <div class="dt--pagination">
                        <div class="dataTables_paginate paging_simple_numbers" id="ecommerce-list_paginate">
                          aa
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--  END *** CONTENT ***  -->
  <%- include('./footer-page-logged.ejs'); -%>
  <!--  BEGIN *** SCRIPTS ***  -->
  <!--  END *** SCRIPTS ***  -->
</body>
</html>
